/* You can add global styles to this file, and also import other style files */
.flex-row {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}
.flex-one {
    flex: 1;
}
.no-margin {
    margin: 0;
}

.body-container {
    margin: 0;
}